{% load static %}
<!DOCTYPE html>
<html lang="es-es">

  <head>
    <title>Practica PI - Login</title>
    <meta name="description" content="TTSSI">
    <meta name="author" content="TTSSI">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'web_files/favicon.ico' %}">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <!-- BANNER -->
    <picture>
      <source media="(min-width: 1200px)" srcset="{% static 'web_files/banner.png' %}" class="banner">
      <img src="{% static 'web_files/banner.png' %}" class="banner" alt="">
    </picture>

    <!-- LOGOS & LOGIN/REGISTRO -->
    <div class="row">

      {% if request.user.is_authenticated %}

      <div class="myform">

        <form action="log_out">
          <fieldset>
            <legend>Ya estas logeado:</legend>
              <input type="submit" class="formbutton" value="Cerrar sesion">
          </fieldset>
        </form>
      </div>
  
      {% else %}

        {% block content %}{% endblock %}

      {%endif%}

    </div>

  </body>

</html>
